<section class="contact-us container">
    <div class="contact-us__title">
     <h2>ارتباط با ما</h2>
     <h4 id="contact-us__title__text">شما می توانید، نظرات و انتقادات<br> خود را برای ما بفرستید</h4>
    </div>
    <div class="contact-us__social">
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
            </svg>
        </span>
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#facebook"></use>
            </svg>
        </span>
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
            </svg>
        </span>
    </div>
    <div class="contact-us__icons">
        <div class="icon-holder">
            <span class="icon-holder__label">سنندج، خیابان 1، کوچه2</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#location"></use>
                </svg>
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">989182451234+</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#phone"></use>
                </svg>
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">info@fronthooks.ir</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#message"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="contact-us__map">
        <img src="/assets/images/@ map screen.png" alt="map-screen">
    </div>
    <div class="contact-us__form">
        <div class="form-wrapper">
            <h3>نظرات شما</h3>
            <form>
                <input type="text" placeholder="نام و نام خانوادگی">
                <input type="email" placeholder="ایمیل خود را وارد کنید" dir="ltr">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn--primary">ثبت نظر</button>
            </form>
        </div>
    </div>
</section>